<!DOCTYPE html>
<html<% if (includeModernizr) { %> class="no-js"<% } %> lang="{{meta.lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="google-site-verification" content="<Google Site Verification key here>">

    <link rel="image_src" type="image/png" href="<Share icon>.png">
    <link rel="apple-touch-icon" href="{{assets}}/apple-touch-icon.png">

    {{> facebook}}

    <link rel="canonical" href="<Site URI>{{meta.canonical}}">
    <link rel="shortcut icon" href="{{assets}}/favicon.ico" type="image/x-icon">
    <!-- build:css(.tmp) {{assets}}/{{config.path.styles}}main.css -->
    <% if (includeBootstrap && !includeSass) { %><link rel="stylesheet" href="{{assets}}/{{config.path.bower}}/bootstrap/dist/css/bootstrap.css"><% } %>
    <link rel="stylesheet" href="{{assets}}/{{config.path.styles}}main.css" type="text/css" media="all">
    <!-- endbuild -->
    <script src="{{assets}}/{{config.path.scripts}}vendor/modernizr.js"></script>
    <!--[if IE 8]>
    <script src="{{assets}}/{{config.path.script}}ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div>
      {{> header }}
      <div id="content">
        <main>
          {{> body }}
        </main>
      </div>
      {{> footer }}
    </div>
    <!-- build:js {{assets}}/{{config.path.script}}vendor.js -->
    <!-- bower:js -->
    <script src="{{assets}}/{{config.path.bower}}jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <% if (includeBootstrap) { %>
    <!-- build:js {{assets}}/{{config.path.script}}plugins.js -->
<% bsPlugins.forEach(function (plugin) { -%>
    <script src="<%= bsPath + plugin %>.js"></script>
<% }) -%>
    <!-- endbuild -->
    <% } %>
    <!-- build:js {{assets}}/{{config.path.script}}main.js -->
    <script type="text/javascript" src="{{assets}}/{{config.path.script}}main.js"></script>
    <!-- endbuild -->
    <!-- build:remove -->
    <script src="{{assets}}/{{config.path.script}}debug.js"></script>
    <!-- endbuild -->

  </body>
</html>
